{{define "part/about.html"}}

<div class="flex-1 p-3 md:py-[35]">
  <div class="space-y-2 md:space-y-6">
    <div class="card bg-base-200 shadow-xl">
      <div class="card-body">
        <h1 class="text-3xl font-extrabold">项目名称 ： P_Blog</h1>
      </div>
    </div>
    <div class="card bg-base-200 shadow-xl">
      <div class="card-body">
        <article class="prose max-w-none">

          <h3>
            GitHub项目地址：
          </h3>
          <a href="https://github.com/ankeyi/P_Blog">https://github.com/ankeyi/P_Blog</a>
          <h3>技术栈</h3>
          <ul>
            <li>Go</li>
            <li>Go-Gin</li>
            <li>Tailwindcss</li>
            <li>Bootstrap5</li>
            <li>Jquery</li>
          </ul>
          <h3>运行环境</h3>
          <p>推荐运行环境为Linux。</p>
          <p>Windows环境运行会限制以下功能不可使用：</p>
          <ul>
            <li>邮件系统</li>
            <li>命令执行</li>
          </ul>

          <h3>功能</h3>
          <p>
            小型博客网站，记录心情、学习笔记、文学作品......为生活增加些许情调。
          </p>

<p>注册新用户以及登录</p>
          <p>
            提供快速创建表单功能用来收集信息（有效避免隐私泄漏）
          </p>
          <P>记录恋爱时间（人会犯错，但是机器不会。）</P>
        </article>
      </div>
    </div>
  </div>
</div>
{{end}}